<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/author.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <div class="container">
        <ul class="nav">
            <li>
                <a href="/">back to Image_Magic</a>
            </li>
        </ul>
    </div>
</header>
<div class="container author-info">

        <img class="car-img animation" src="/static/images/me.jpg" alt="я">

    <div class="flex-item">
        <h2 class="headers">Автобиография</h2>
        <p class="main-text">
            Я, Галимов Александр Эльдарович, родился 23 июля 2003 года в городе Кургане.
            В период с 2010 по 2019 год обучался в МБОУ Гимназия №26 города Миасса Челябинской области, в период с 2019
            по 2021 год обучался в МБОУ СОШ №13 города Воронежа. За время обучения был участником и призером районных и
            городских школьных олимпиад по математике и физике. В 2021 году окончил школу с отличием.
            С июля по август 2019 года работал консультантом по сборке, эксплуатации и реализации техники в мотосалоне
            «Квадрик74» города Миасса.
            В сентябре 2021 года поступил на очное отделение Воронежского государственного университета, на Факультет
            компьютерных наук по специальности «Программный инженер». На данный момент прохожу обучение по выбранному
            направлению.
        </p>
        <div class="flex-links">
            <a href="https://vk.com/id209132350" target="_blank"> <i class="fa fa-vk" aria-hidden="true" style="font-size: 1.5em; margin-right: 0.3vw;"></i>VK</a>
            <a href="mailto:alexgalimov2003@mail.ru" target="_blank"><i class="fa fa-envelope" aria-hidden="true" style="font-size: 1.5em; margin-right: 0.3vw;"></i>Email</a>
        </div>
    </div>

</div>

</body>
</html>