<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Picture</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<header>
        <div class="container">
            <ul class="nav">
                <li>
                    <span>Picture</span>
                </li>
            </ul>
        </div>
    <div class="container">
        <img src=" {{url_for('send_image', filename=image_name)}}">
    </div>
</header>
<!--<img src="{{url_for('static', filename='images/changed_image.jpg')}}">-->
<!--<img src="{{url_for('static', filename='images/changed_image.jpg')}}">-->

</body>
</html>